@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131413;
    --foreground: #ededed;
    --dark: #101110;
    --primary: #92A9E1;
    --secondary: #7391db;
  }
}

body {
  background: var(--background);  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hovered:hover{
  color: #92A9E1;
  transition: 0.3s ease-in-out;
}
